# Bike Trippin

For this assignment, you will be taking "Cycle Share" data from Seattle and creating charts to determine which gender borrows and uses bikes more often.

* Import your dependencies and then import your data into a pandas data frame from the CSV within the 'Data' folder
* Split up your data into groups based upon the gender column
    * NOTE: There will be a garbage row with a gender of 'stoptime' which you will have to remove!
* Chart your data using a bar graph, giving it both a title and labels for the axes

In [37]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [38]:
cycle_share = '../Resources/trip.csv'
cycle_share_df = pd.read_csv(cycle_share, low_memory=False)

gender_groups = cycle_share_df.groupby('gender')
gender_trips = gender_groups['tripduration'].count()
gender_trips.head()

gender
Female       37562
Male        140564
Other         3431
stoptime         1
Name: tripduration, dtype: int64

In [39]:
gender_trips = gender_trips.drop(gender_trips.index[3])
gender_trips.head()

gender
Female     37562
Male      140564
Other       3431
Name: tripduration, dtype: int64

In [40]:
gender_chart = gender_trips.plot(kind="bar", title="Bike Trips by Gender")
gender_chart.set_xlabel('Gender')
gender_chart.set_ylabel('Number of Trips Taken')
plt.show()
plt.tight_layout()

# Bonus!

You will now take the same base data frame before and create some code that will allow you to create individual pie charts for each bike. For this part of the activity, we want you to chart the total 'Trip Duration' of each bike, sorted by gender. Bonus points if you can come up with a method to do this without using loc or iloc to filter the original data frame! You can use loc to filter group data though.

In [45]:
bike_groups = cycle_share_df.groupby(['bikeid', 'gender'])
sum_it_up = bike_groups.sum()
sum_it_up.head(12)

                 tripduration
bikeid   gender
SEA00001 Female     15876.665
         Male       41150.373
         Other        276.880
SEA00005 Female     20616.240
         Male       60386.328
         Other       1784.955
SEA00006 Female     20071.004
         Male       46584.453
         Other       1469.839
SEA00007 Female      9996.402
         Male       16618.213
         Other       1040.571

In [47]:
bike_id = "SEA00001"
just_one_bike = sum_it_up.loc[bike_id]
just_one_bike

        tripduration
gender
Female     15876.665
Male       41150.373
Other        276.880

In [ ]:
gender_list = just_one_bike.keys()
bike_pie = just_one_bike.plot(kind="pie", y=gender_list, title="Trips of " + bike_id)
bike_pie.set_ylabel("Trip Location")
plt.show()
plt.tight_layout()
plt.axis("equal")